{% extends 'layouts/base.html.twig' %}

{% block title 'Connexion!' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="mt-5 text-center font-weight-bold">Connexion</h1>
            <p class="mt-3 mb-5 text-center text-muted">Il est temps de créer un chef d'oeuvre!</p>
			<form method="post">
				{% if error %}
					<div class="alert alert-warning alert-dismissible fade show text-center font-weight-bold" role="alert">
						{{ error.messageKey|trans(error.messageData, 'security') }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
				<div class="form-group mb-4">
					<label for="email">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
				</div>
				<div class="form-group mb-4">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="form-control" required>

				</div>
				<div class="d-flex justify-content-between">
                    <div class="form-group mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                            <label class="form-check-label" for="_remember_me">
                                Rester connecté
                            </label>
                        </div>
                    </div>
                    <a href="#">Mot de passe oublié?</a>
				</div>

				<button class="btn btn-lg btn-block btn-primary" type="submit">
					Connexion
				</button>

                <p class="mt-5 mb-3 text-center text-muted">Vous n'êtes pas encore inscrit? <a href="#">Créer un compte</a></p>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>

		</div>
	</div>

{% endblock %}


























