<div class="container mt-5">
    <h3 class="mb-3">Dernières réalisations</h3>
    <p class="text-muted mb-4">Toutes nos dernières réalisation sont ici</p>
    <div class="card mb-3 card peinture bg-white rounded shadow" style="max-width: 1000px;">
        <div class="row g-0">
            {% for peinture in peintures %}
                <div class="col-md-4 mb-3">
                    <div class="mw-100 overflow-hidden rounded-top">
                        <a class="text-decoration-none" href="{{ path('app_peintures_show', {slug: peinture.slug}) }}">
                            <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('miniature') }}" alt="{{ peinture.nom }}">
                        </a>
                    </div>    
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <a class="text-decoration-none text-muted" href="{{ path('app_peintures_show', {slug: peinture.slug}) }}">
                            <h5 class="card-title text-break">{{ peinture.nom }}</h5>
                            <p class="card-text text-break">{{ peinture.description | u.truncate(200, '...', false) }}</p>
                            <p class="card-text"><small class="text-muted">{{ peinture.createdAt | ago() }}</small></p>
                        </a>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
</div>

    