<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="background-image: url({{ asset('/img/018.jpg') | imagine_filter('welcome') }}); ">
	    <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">TobliArt</h1>

            <p class="lead fw-normal">Site web pour tous les artistes du Mali.</p>
            <a class="btn btn-outline-secondary" href="{{ path('app_portfolios_index') }}">Découvrir mon portfolio</a>

        </div>
	</div>
	<div class="product-device shadow-sm d-none d-md-block"></div>
	<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>