{% extends "layouts/base.html.twig" %}

{% block title 'Ici se trouvent nos dernières réalisations et blogposts'%}

{% block body %}
    {{ include('layouts/partials/_flash_messages.html.twig') }}
    {{ include('home/_welcome.html.twig') }}
    {{ include('home/_realisations.html.twig') }}
    {{ include('home/_blogpost.html.twig') }}
{% endblock %}
