<footer class="mt-5 pt-5 pb-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <h1 class="mb-2 text-muted">
                    TobliArt.
                </h1>
                <p class="text-white mb-2">
                    L'art pour tous!
                </p>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <h6 class="text-bold text-uppercase text-white">
                    Menu
                </h6>
                <ul class="list-unstyled text-muted mb-6 mb-mb-8 mb-lg-0">
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_peintures_realisation') }}">
                            Réalisations
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_blogposts_actualite') }}">
                            Actualités
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_portfolios_index') }}">
                            Portfolio
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_apropos_index') }}">
                            A propos
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_contact_index') }}">
                            Me contacter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h6 class="text-bold text-uppercase text-white">
                    Informations
                </h6>
                <p class="text-muted mb-2">
                    TobliArt est un site dédié aux artistes du Mali.
                </p>
                <p class="text-muted mb-2">
                    Tous les artistes du Mali peuvent exposer leurs oeuvres ici.
                </p>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <h6 class="text-bold text-uppercase text-white">
                    Mentions légales
                </h6>
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="">
                            TobliCorp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>