<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand fw-bold fs-1 text-primary" href="{{ path('app_home') }}">TobliArt.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link 
              {% if current_menu is defined and current_menu == 'realisations' %}
                active
              {% endif %}" 
              aria-current="page" href="{{ path('app_peintures_realisation') }}">
                Réalisations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link
              {% if current_menu is defined and current_menu == 'actualites' %}
                active
              {% endif %}"
              aria-current="page" href="{{ path('app_blogposts_actualite') }}">
                Actualités
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link 
              {% if current_menu is defined and current_menu == 'portfolios' %}
                active
              {% endif %}
              dropdown-toggle" 
              href="{{ path('app_portfolios_index') }}"
              id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">
                Portfolio
             </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown08">
              {% for categorie in categorieNavbar() %}
                <li>
                  <a class="dropdown-item" href="{{ path('app_portfolios_show', {slug: categorie.slug}) }}">
                    {{ categorie.nom }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link
              {% if current_menu is defined and current_menu == 'apropos' %}
                active
              {% endif %}" 
              aria-current="page" href="{{ path('app_apropos_index') }}">
              A propos
            </a>
          </li>
          <li class="nav-item">
            <a class="navbar-link btn btn-primary lift ms-auto" href="{{ path('app_contact_index') }}">Me contacter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>