{% extends "layouts/base.html.twig" %}

{% block title 'Apropos'%}

{% block body %}
    <div class="bg-image p-5 text-center shadow-1-strong mb-5 mt-5 text-white"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');">
        <h1 class="mb-3">{{ peintre.apropos }}</h1>   
        <p>{{ peintre.fullName }}</p>
    </div>
{% endblock %}
