{% extends "layouts/base.html.twig" %}

{% block title 'Portfolio'%}

{% block body %}
    <div class="bg-image p-5 text-center shadow-1-strong mb-5 mt-5 text-white"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');">
        <h1 class="fs-1">Portfolio</h1>   
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for category in categories %}
            {% set peinture = category.peintures|last %}
                <div class="col-md-4 mb-3 d-flex align-items-stretch">
                    <div class="card peinture bg-white rounded shadow">
                        <div class="mw-100 overflow-hidden rounded-top">
                            <a href="{{ path('app_portfolios_show', {slug: category.slug}) }}">
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('portfolio') }}" class="card-img-top" alt="{{ peinture.nom }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-break">{{ category.nom }}</h5>
                            <p class="card-text text-break">{{ category.description | u.truncate(200, '...', false) }}</p>
                            <p class="card-text"><small class="text-muted">{{ category.createdAt | ago() }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}