{% extends "layouts/base.html.twig" %}

{% block title categorie.nom %}

{% block body %}

    <div class="container mt-5">
        {% set peinture = categorie.peintures | last %}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ categorie.nom }}</h3>
                <div class="mb-1 text-muted">{{ categorie.createdAt | ago() }}</div>
                <p class="card-text mb-auto">{{ categorie.description }}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                 <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('portfolio') }}" class="" alt="{{ peinture.nom }}">
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            {% for peinture in peintures %}
                <div class="col-md-4 mb-3 d-flex align-items-stretch">
                    <div class="card peinture bg-white rounded shadow">
                        <div class="mw-100 overflow-hidden rounded-top">
                            <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('portfolio') }}" class="card-img-top" alt="{{ peinture.nom }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}