@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "shared/variables";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $primary-font, sans-serif;
}

.peinture img {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}


.mask-custom {
    backdrop-filter: contrast(140%) brightness(100%) saturate(100%) sepia(50%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: lighten;
    background: rgba(161, 44, 199, 0.31);
    opacity: 1;
}


