{% extends "layouts/base.html.twig" %}

{% block title 'Ici vous pouvez nous contacter'%}

{% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% block body %}

    <div class="container mt-3">
        <div class="row flex">
            <div class="col-md-8">
                <div class="card peinture bg-white rounded shadow">
                    <div class="mw-100 overflow-hidden rounded-top">
                        <img class="w-100 h-auto" src="/img/placeholder.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
                <h2 class="mt-3 text-center">Me contacter.</h1>
                <P class="text-muted text-center">Vous avez une question ? Vous voulez aquérir quelque chose ? N'hesitez surtout pas à me contacter.</P>
                {{ form_start(form) }}
                    <div class="mb-3 form-row">
                        <div class="col">{{ form_row(form.nom) }}</div>
                    </div>
                    <div class="mb-3 form-row">
                        <div class="col">{{ form_row(form.email) }}</div>
                    </div>
                    <div class="mb-3 form-row">
                        <div class="col">{{ form_row(form.message) }}</div>
                    </div>
                    <div class="mb-3 form-row">
                        {{ form_row(form.recaptcha, { 'attr': {
                            'options' : {
                                'theme': 'light',
                                'type': 'image',
                                'size': 'normal'
                            },
                        } }) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" formnovalidate>Envoyer</button>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
