{% extends "layouts/base.html.twig" %}

{% block title 'Ici se trouvent toutes nos actualités'%}

{% block body %}
    <div class="container mt-5">
        <h1 class="fw-bold">Nos actualités</h1>
        <p class="text-muted mb-4">Vous trouverez ici toutes nos actualités!!!!</p>
        <div class="row">
            {% for blogpost in blogposts %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card border-secondary mb-3">
                        <a class="text-decoration-none text-dark" href="{{ path('app_blogposts_show', {slug: blogpost.slug}) }}">
                            <div class="card-header text-break fw-bold fs-3">{{ blogpost.titre }}</div>
                        </a>
                        <div class="card-body text-secondary">
                            <a class="text-decoration-none text-muted" href="{{ path('app_blogposts_show', {slug: blogpost.slug}) }}">
                                <p class="card-text text-break">{{ blogpost.contenu | u.truncate(200, '...', false) }}</p>
                            </a>
                            <p class="card-text"><small class="text-muted">{{ blogpost.createdAt | ago() }}</small></p>
                        </div>
                    </div>
                </div>   
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% do blogposts.setPageRange(2) %}
            {{ knp_pagination_render(blogposts, 'layouts/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
