{% extends "layouts/base.html.twig" %}

{% block title 'Ici se trouvent toutes nos réalisations'%}

{% block body %}
    <div class="container mt-5">
        <h1 class="fw-bold">Nos réalisations</h1>
        <p class="text-muted mb-4">Vous vous trouvez au meilleur endroit admirez!!!!</p>
        <div class="row">
            {% for peinture in peintures %}
                <div class="col-md-4 mb-3 d-flex align-items-stretch">
                    <div class="card peinture bg-white rounded shadow">
                        <div class="mw-100 overflow-hidden rounded-top">
                            <a class="text-decoration-none" href="{{ path('app_peintures_show', {slug: peinture.slug}) }}">
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('miniature') }}" class="card-img-top" alt="{{ peinture.nom }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <a class="text-decoration-none text-muted" href="{{ path('app_peintures_show', {slug: peinture.slug}) }}">
                                <h5 class="card-title text-break">{{ peinture.nom }}</h5>
                                <p class="card-text text-break">{{ peinture.description | u.truncate(200, '...', false) }}</p>
                                <p class="card-text"><small class="text-muted">{{ peinture.createdAt | ago() }}</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% do peintures.setPageRange(2) %}
            {{ knp_pagination_render(peintures, 'layouts/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
